.img{
    width: 200px;
    height:300px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}